src/atmel/vboot/Debug
*.cbproj.local
__history
src/vcl/soft_uart_simulation/Win32/
src/vcl/soft_uart_simulation/soft_uart_sim.res
src/vcl/boot/Win32/Debug/
src/vcl/boot/boot.res
src/atmel/vboot.atsuo

src/atmel/.vs/vboot/v14/.atsuo
src/blink/blink/Debug
src/blink/.vs
.vs
src/cs/QBBConfig/bin
src/cs/QBBConfig/obj
